<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Condition="'$(Configuration)'=='Debug'">
    <SitecoreWebUrl>https://xp0sc.dev.local</SitecoreWebUrl>
    <SitecoreDeployFolder>C:\inetpub\wwwroot\xp0sc.dev.local</SitecoreDeployFolder>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <SitecoreAccessGuid>{CEA166E0-2B3B-42A7-B6EF-CF5721F9F584}</SitecoreAccessGuid>
  </PropertyGroup>
</Project>