<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <generateScribanContext>
        <processor type="Sitecore.XA.Foundation.ScribanExtensions.Pipeline.GenerateScribanContext.AddLinkFieldRendererFunction, Sitecore.XA.Foundation.ScribanExtensions" resolve="true" />
      </generateScribanContext>
    </pipelines>
  </sitecore>
</configuration>